In [ ]:
#Number,Strings ,tuples

In [1]:
a =6
print(a)
print(type(a))
print(id(a))

6
<class 'int'>
140721179367232

In [2]:
a+=5
print(id(a))

140721179367392

In [3]:
x ='working on'
print(x,type(x))
print(id(x))

working on <class 'str'>
2462088294832

In [4]:
x+='python'
print(x)
print(id(x))

working onpython
2462088346160

In [6]:
x[0]='W'

TypeError: 'str' object does not support item assignment

In [7]:
y =(10,20,30)
print(y,type(y))

(10, 20, 30) <class 'tuple'>

In [9]:
y[0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#list,dict& sets

In [12]:
a= [10,20,30]
print(a)
print(type(a))
print(id(a))

[10, 20, 30]
<class 'list'>
2462088442368

In [13]:
a[0]

10

In [14]:
a[0]=100
print(a)
print(id(a))

[100, 20, 30]
2462088442368

In [15]:
list2 = a
print(id(list2))

2462088442368

In [16]:
a[0]=10
print(a,list2)

[10, 20, 30] [10, 20, 30]

In [20]:
list1 =[1,2,3]
tuple1 = (88,list1)
print(tuple1,type(tuple1))
print(id(tuple1))

(88, [1, 2, 3]) <class 'tuple'>
2462087415424

In [21]:
list1[0]=77
print(tuple1)
print(id(tuple1))

(88, [77, 2, 3])
2462087415424